& > aside {
	background: rgba(0, 0, 0, 0.86);
	padding-top: $spacing-unit * 2;
	padding-bottom: $spacing-unit * 2;
	border: none;
	*, a:hover { color: $color-nil; }
	p, h4 {
		font-family: sans-serif !important;
		margin-bottom: 0.5em;
	}
	&, a {
		color: $color-nil;
	}
	& > .wrapper > div > aside {
		margin-bottom: $spacing-unit;
		&:hover {
			a {
				color: $color-gray;
				&:hover {
					color: $color-nil;
				}
			}
		}
		ul {
			list-style: none;
			margin-left: 0px;
			padding-left: 0px;
		}
		input[type="text"].form-control {
			background-color: darken($color-gray, 20%);
			border: none;
			border-radius: 0;
			padding-left: 10px;
			&:focus {
				box-shadow: none;
				border: none;
				background-color: $color-nil;
				color: $color-coal;
			}
		}
		input::-webkit-input-placeholder {
		   font-style: italic;
		}
		.input-group-btn {
			button.btn.btn-default {
				background-image: none;
				border-radius: 0 !important;
				text-shadow: none;
				border: none !important;
				background-color: $color-gray;
				margin-left: 0 !important;
				box-shadow: none;
				color: $color-nil;
			}
		}
		&.redes-sociais {
			ul {
				list-style: none;
				margin-left: 0px;
				i {
					font-size: 20px;
					margin-right: 5px;
				}
			}
		}
		&.plataformas ul {
			li {
				border-color: $color-coal;
				i {
					background-color: $color-nil;
				}
				a {
					color: $color-gray;
				}
				&:hover {
					border-color: $color-teal;
					background-color: black;
					a {
						color: $color-nil;
					}
				}
			}
		}
		&.velho-sniic {
			background-color: $color-nil;
			color: $color-coal;
			margin: -15px;
			margin-bottom: 0px;
			padding: 15px;
			box-shadow: 5px 5px 0px black;
			img {
				width: 190px;
				height: 110px;
				background-color: #476f9f;
				margin-top: 40px;
				margin-bottom: 40px;
			}
			h3 {

			}
			p {
				font-size: 16px;
				font-variant: medium;
				line-height: normal;
			}
		}
	}
}
