a, li, h1, h2, h3, h4, h5, h6 {
  &.brand-heading {
    color: $color-coal;
    font-weight: 700;
    span {
      color: $color-gray;
      font-weight: 400;
    }
  }
}
a.brand-heading {
  img {
    width: $gutter;
    height: $gutter;
    margin-bottom: $gutter/6;
    margin-right: $gutter/6;
    display: inline-block;
  }
}
h1.brand-heading {
  img {
    width: $gutter * 2;
    height: $gutter * 2;
    margin-bottom: $gutter/3;
    margin-right: $gutter/3;
    display: inline-block;
  }
}
h4.brand-heading {
  img {
    width: $gutter;
    height: $gutter;
    margin-bottom: $gutter/6;
    margin-right: $gutter/6;
    display: inline-block;
  }
}
h5.brand-heading {
  img {
    width: 3*$gutter/4;
    height: 3*$gutter/4;
    margin-bottom: $gutter/6;
    margin-right: $gutter/6;
    display: inline-block;
  }
}
