$color-nil: #ECF3F4;
$color-dark-gray: #3D3D3D;
$color-gray: #7E7E7E;
$color-teal: #69A0A8;
$color-light: #69D1E0;
$color-coal: #242424;

$color-velho-sniic-brand-blue: 			#036E9F;
$color-velho-sniic-second-shade-blue: 	#005781;
$color-velho-sniic-dark-blue: 			#002C40;
$color-velho-sniic-heading-gray: 		#1D1E1F;
$color-velho-sniic-second-gray:			#737A7D;
$color-velho-sniic-nil:			#F9F5EF;
