/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.home .page-content:after {
	display: block;
	color: #ddd;
	content: '\002A \002A \002A \002A \002A';
	font-size: 50px;
	letter-spacing: 25px;
	line-height: 1;
	font-size: 5rem;
	font-family: Arial, serif;
	margin: 0.64em 0;
	text-align: center;
}
.home.page-template-default .page-content:after {
	display: none;
}
.post-thumbnail {
	display: inline;
	float: left;
	margin-right: 2em;
	margin-bottom: 1.7778em;
}
.home, .blog, .archive, .search { .post-thumbnail {
	margin-bottom: 0;
} }
.entry-header {
	display: inline-block;
}
.single .entry-header, .page-header {
	display: block;
	margin-bottom: 3.5556em;
}
.single.without-featured-image .entry-header {
	margin-bottom: 1.7778em;
}
.entry-title {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.7778;
	margin-bottom: 0;
  a {
  	color: #000;
  }
}
.single .entry-title, .page-title, .page-title {
	font-size: 40px;
	font-size: 4rem;
	font-style: italic;
	line-height: 1.6em;
	text-align: center;
}
.single-jetpack-portfolio { .cat-links, .tags-links {
	display: block;
	margin-top: 0;
} }

.single-jetpack-portfolio .entry-content {
	padding-left: 0;
}
.single .entry-content,
.page .page-content {
	font-size: 18px;
	font-size: 1.8rem;
}
.entry-content {
	font-size: 16px;
	font-size: 1.6rem;
}
.single .byline, .group-blog .byline {
	display: inline;
}
.page-content, .entry-content, .entry-summary {
	margin: 0.75em 0 0;
}

/* Page links */
.single, .page { .page-links {
	clear: both;
	font-size: 14px;
	font-size: 1.4rem;
	margin: 0 0 1.7778em;
} }
.page-links {
  .page-links-title {
  	padding-right: 10px;
  }
  .page-links-title, span, a {
  	min-width: 30px;
  	text-align: center;
  	display: inline-block;
  }
  span {
  	border-right: 1px solid rgba(0, 0, 0, 0.05);
  }
  .page-links-title {
      padding-right: 10px;
  }
}
/* Read more link */
.read-more {
	color: #000;
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: .03em;
	text-transform: uppercase;
}

/* 404 Page / No search results */
.error404 {
.widget {
	font-size: 14px;
	padding-right: 0;
	padding-left: 0;
	ul, ol { & > li {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	} }
}

.widget-container .widget {
	&:first-child { padding-left: 0; }
	&:last-child { padding-right: 0; }
}
}

/*--------------------------------------------------------------
10.3 Portfolio
--------------------------------------------------------------*/
.front-page-block.portfolio .section-title {
	font-style: italic;
	text-align: center;
}
#portfolio-wrapper {
	max-width: 310px;
	margin: 0 auto;
	.hentry {
		border-top: none;
		margin-bottom: 11%;
		padding: 0;
	}
}
.project-image {
	background-color: #ccc;
	background-size: cover;
	background-position: 50% 50%;
	height: 250px;
	position: relative;
}
.project-summary {
	background: rgba(0, 0, 0, 0.5);
	padding: 0 1em;
	text-align: center;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	left: 50%;
	position: absolute;
	top: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 0;
}
.project-image:hover .project-summary {
	background: rgba(0, 0, 0, 0.25);
	opacity: 1;
}
.has-post-thumbnail .project-image:hover .project-summary {
	opacity: 0;
}
.project-title {
	color: #fff;
	font-size: 26px;
	font-size: 2.6rem;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: .03em;
	position: relative;
	top: 50%;
	left: 0;
	text-transform: uppercase;
	text-shadow: 0 1px 4px rgba(0, 0, 0, 0.62);
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

@import "img-clipper";

main { & > div {
	header {
		position: relative;
		a.header-sublink {
			position: absolute;
			right: 0;
			bottom: 0;
			margin-bottom: $gutter;
			color: $color-coal;
			text-transform: uppercase;
			font-weight: 600;
			i {
				margin-left: $gutter/3;
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	article {
		margin-bottom: $gutter;
		& > header, & > footer {
			padding: $gutter/3;
			margin-top: 2px;
			background-color: rgb(246, 249, 250);
			span, p, a {
				font-size: 11px;
				line-height: 1 !important;
				text-transform: uppercase;
				color: $color-gray;
			}
			a:hover {
				color: black;
				text-decoration: none;
			}
		}
		& > header {

		}
		& > footer {
			.byline, .taxonomies, .updated:not(.published) {
				display: none;
			}
		}
		.media {
			padding: $gutter/2;
			background-color: white;
			box-shadow: 0px 1px 1px gray;
			.media-left {
				max-width: 300px;
				.img-clipper {
					height: 100px;
					width: 100px;
				}
			}
			.media-right {
				header {
					margin-top: 0;
					margin-bottom: 10px;
					h1 {
						color: darken($color-teal, 10%);
						line-height: 1.3;
						margin-top: 0;
					}
				}
			}
		}
		&.sticky {
			.media {
				padding: $gutter;
				.media-left {
					display: block;
					max-width: 100%;
					width: auto;
					height: auto;
					padding-right: 0;
					.img-clipper {
						height: auto;
						width: auto;
						max-height: 300px;
					}
				}
				.media-right {
					header {
						margin-top: $gutter/2;
						h1 {
							font-size: 30px !important;
						}
					}
				}
			}
		}
	}

} }
