button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#infinite-handle span {
	background: none;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 1.4rem;
	letter-spacing: .03em;
	text-transform: uppercase;
	&:hover {
		border-color: #000;
		color: rgba(0, 0, 0, 0.8);
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {  &:hover, &:active {
	border-color: #000;
	outline: none;
} }
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	font-size: 18px;
	font-size: 1.6rem;
	&:focus {
		border-color: #000;
		outline: none;
	}
}
textarea {
	padding-left: 7px;
	width: 100%;
}

// SIZING

@media screen and (min-width: 768px) {
	.lead form, .big form, form.big {
		.form-group .input-group {
			input {
				font-size: 24px;
				padding-left: 20px;
			}
			.input-group-addon button span {
				font-size: 24px;
			}
		}
	}
}

// THEME

form {
	.form-group {
		background-color: white;
		input {
			color: black;
			&::-webkit-input-placeholder {
				color: $color-coal;
			}
		}
		.input-group-addon button {
			span {
				color: black;
			}
			&:hover {
				background-color: transparent;
			}
		}
	}
}

.dark {
	form {
		.form-group {
			background-color: $color-dark-gray;
			input {
				&, &:active, &:focus {
					color: $color-nil;
				}
				&::-webkit-input-placeholder {
					color: $color-gray;
				}
			}
			.input-group-addon button span {
				color: $color-nil;
			}
		}
	}
}

form {
	display: block;

	.form-group {
		padding: 0;
		padding-top: 1px;
		width: 100%;

		.input-group {
			input {
				width: 100%;
				border: none;
				box-shadow: none;
				border-radius: 0;
				background: transparent;
				&::-webkit-input-placeholder {
					 font-style: italic;
					 font-weight: 300;
				}
				&:focus {
					box-shadow: none;
					border: none;
				}
			}
			.input-group-addon {
				background-color: transparent;
				border: none;
				border-radius: 0px;
				padding: $gutter/5;
				button {
					border-radius: 0 !important;
					border: none !important;
					margin-left: 0 !important;
					text-shadow: none;
					box-shadow: none;
					background-image: none;
					background-color: transparent;
					text-align: center;
					float: right;
					margin: 0;
				}
			}
		}
	}
	.form-group, input {
		margin-bottom: 0;
	}
}
