button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#infinite-handle span {
	background: none;
	border: 2px solid #999;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-size: 1.4rem;
	height: 2.9em;
	letter-spacing: .03em;
	padding: 0 24px;
	text-transform: uppercase;
	&:hover {
		border-color: #000;
		color: rgba(0, 0, 0, 0.8);
	}
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {  &:hover, &:active {
	border-color: #000;
	outline: none;
} }
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	font-size: 16px;
	font-size: 1.6rem;
	border: 2px solid #999;
	&:focus {
		border-color: #000;
		outline: none;
	}
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	height: 2.5em;
	padding: 0 7px;
}
textarea {
	padding-left: 7px;
	width: 100%;
}

form {
	label.has-glyph-button {
		input {
			width: 100%;
		}
		button {
			border-radius: 0 !important;
			border: none !important;
			margin-left: 0 !important;
			text-shadow: none;
			box-shadow: none;
			background-image: none;
			background-color: transparent;
			text-align: center;
			float: right;
			margin: 0;
		}
	}
}

// SIZING

form {
	label.has-glyph-button {
		input {
			padding-right: 42px;
			margin-right: -42px;
			padding-left: 10px;
		}
		button {
			width: 42px;
		}
	}
}

.lead {
	form {
		label.has-glyph-button {
			input {
				font-size: 24px;
				padding-right: 60px;
				margin-right: -60px;
				padding-left: 20px;
			}
			button {
				width: 60px;
				i {
					font-size: 32px;
				}
			}
		}
	}
}

// THEME

form {
	label {
		background-color: white;
		input {
			color: black;
			&::-webkit-input-placeholder {
				color: $color-coal;
			}
		}
	}
	label.has-glyph-button {
		button {
			span {
				color: black;
			}
			&:hover {
				background-color: transparent;
			}
		}
	}
}

.dark {
	form {
		label {
			background-color: $color-dark-gray;
			input {
				&, &:active, &:focus {
					color: $color-nil;
				}
				&::-webkit-input-placeholder {
					color: $color-gray;
				}
			}
		}
		label.has-glyph-button {
			button span {
				color: $color-nil;
			}
		}
	}
}

form.search-form {
	display: block;

	label {
		padding: 0;
		padding-top: 1px;
		width: 100%;
	}
	label, input {
		margin-bottom: 0;
	}
	button {
		border-radius: 0 !important;
		border: none !important;
		margin-left: 0 !important;
		text-shadow: none;
		box-shadow: none;
		background-image: none;
		background-color: transparent;
		padding: 0 $gutter/2;
		float: right;
	}
	input[type="search"] {
		border: none;
		border-radius: 0;
		background: transparent;
		&:focus {
			box-shadow: none;
			border: none;
		}
	}
	input::-webkit-input-placeholder {
		 font-style: italic;
		 font-weight: 300;
	}
}
