& > header {
  background-color: $color-nil;
  & > div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 4.25em 0;
    position: relative;
    text-align: center;
    & > h1 {
      display: table;
      margin: 0 auto;
      max-width: 90%;
      text-align: center;
      z-index: 0;
      a {
        line-height: 1.25;
        padding: 0 .25em;
        letter-spacing: .03em;
        text-transform: uppercase;
        border: 10px solid #222;
        color: #222;
      }
      small {
        display: block;
        font-size: 16px;
        font-size: 1.6rem;
        margin-top: 0.8889em;
      }
    }
  }
}
