& > header {
  padding-bottom: 0;
  & > div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: relative;

    & > * {
      padding-top: $gutter;
      padding-bottom: $gutter;
      display: block;
    }

    #branding {
      max-width: 600px;
      width: 100%;
    }
    #branding_simple {
      max-width: 425px;
      width: 100%;
    }
    .button {
      background-color: $color-dark-gray;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 2.6;
      height: 41px;
      width: 100%;
      display: block;
      text-align: center;
      i {
        margin-left: $gutter/3;
      }
      &:hover {
        background-color: $color-nil;
        color: black;
        text-decoration: none;
      }
    }
    & > h1 {
      display: table;
      margin: 0 auto;
      max-width: 90%;
      text-align: center;
      z-index: 0;
      a {
        line-height: 1.25;
        padding: 0 .25em;
        letter-spacing: .03em;
        text-transform: uppercase;
        border: 10px solid #222;
        color: #222;
      }
      small {
        display: block;
        font-size: 16px;
        font-size: 1.6rem;
        margin-top: 0.8889em;
      }
    }
  }
}
