& {
  ul:hover { a, li, span, i, h1, h2, h3, h4, h5, h6, small {
      color: $color-gray;
      svg { fill: $color-gray; }
      &:hover { a, li, span, i, h1, h2, h3, h4, h5, h6, small {
        color: black;
        svg { fill: black; }
      } }
  } }
}
& > .dark {
  ul:hover { a, li {
      &:hover { a, li, span, i, h1, h2, h3, h4, h5, h6, small { color: $color-nil; } }
  } }
  background: $color-coal;
  *, a:hover { color: $color-nil; }
  &, a { color: $color-nil; }
  i { color: $color-nil; }
  svg { g, path {
    fill: $color-nil;
  } }
}
