/*--------------------------------------------------------------
5.1 Links
--------------------------------------------------------------*/
a {
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	color: #222;
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active {
	outline: 0;
}
.entry-content, .page-content {
a {
	border-bottom: 2px solid transparent;
  &:hover {
  	border-bottom: 2px solid #222;
  }
}
}
.entry-content .read-more:hover {
	border-bottom-color: transparent;
}
a img {
	border: 0;
}

/*--------------------------------------------------------------
5.2 Menus
--------------------------------------------------------------*/

/* Posts, comments navigation */
.site-main {
  .comment-navigation, .posts-navigation {
  	color: #999;
  	font-size: 16px;
  	font-size: 1.6rem;
  	text-align: center;
  	overflow: hidden;
  }
}
.comment-navigation, .posts-navigation, .post-navigation { .nav-previous {
	margin-bottom: 1.7778em;
} }
