& > nav {
  position: relative;
  & > .beta-marker {
    position: absolute;
    top: 0;
    left: 0;
  }
  & > .wrapper {
    #branding {
      svg, h1 {
        float: left;
      }
      svg {
        width: $gutter * 1.5;
        height: $gutter * 1.5;
        path, g {
          fill: $color-nil;
        }
      }
      h1 {
        margin: 0;
        margin-top: $gutter/5;
        margin-left: $gutter/2;
        font-size: 35px;
        font-weight: 600;
        line-height: $gutter;
      }
    }

    div.menu > div {
      text-transform: uppercase;

      & > ul {
        margin: 0;

        &, ul {
          list-style: none !important;
        }
        & > li {
          border-bottom: 1px solid $color-coal;
          &:hover {
            border-color: $color-teal;
          }
        }
      }
    }
    & > div {
      & > div {
        ul {
          ul {
            display: block;
            list-style-position: inside;
            list-style-type: disc;
            border-left: 1px solid rgba(255, 255, 255, 0.3);
            li {
              border-bottom: none;
              padding: 0;
              padding-left: 1em;
              &:hover, &.focus { & > ul {
                left: 100%;
              } }
            }
            ul {
              left: -999em;
              top: 0;
            }
          }
          ul :hover > a,
          ul > .focus > a {
          }
          li:hover,
          li.focus { & > ul {
            left: 0;
          } }
        }
      }
    }

  }
}

@media screen and (min-width: 769px) {
  & > nav {
    & > .wrapper {
      padding-left: $gutter;
      padding-right: $gutter;

      #branding {
        overflow-x: visible;
        width: 0 !important;
        float: left;
        padding: 0;
        margin: 0;
        div {
          width: 300px;
          overflow: visible;
        }
      }

      div.menu > div {
        float: right;
        & > ul {
          margin: 0;
          display: block;
          padding-top: $gutter/3;
          & > li {
            font-size: 14px;
            text-transform: uppercase;
            display: inline-block;
            margin: 0 $gutter/3;
            padding: 0;
            padding-bottom: $gutter/3;
            position: relative;
            &:first-child { padding-left: 0; }
            &:last-child { padding-right: 0; }
            & > ul, & > ul > li > ul {
              background-color: $color-gray;
              & > li {
                a { color: white; }
                &:hover { background-color: $color-coal; }
              }
            }
          }
        }
      }
      ul {
    		margin: 0;
    		padding-left: 0;
    		text-align: center;
        ul {
      		float: left;
      		margin: 0;
      		position: absolute;
          top: 2em;
      		left: -999em;
      		text-align: left;
      		z-index: 99999;
          li {
            padding-top: 0.5em !important;
            padding-bottom: 0.5em !important;
        		border-bottom: 1px solid rgba(255, 2555, 255, 0.1);
            padding: 1em;
            min-width: 200px;
        	}
      	}
      	div>ul>li>ul::before {
      		border-color: transparent transparent #222;
      		border-style: solid;
      		border-width: 6px 6px 8px;
      		content: "";
      		position: absolute;
      		top: -13px;
      		left: 20px;
      	}
      }
    }
  }
}
@media screen and (max-width: 768px) {
  & > nav {
    padding-top: $gutter/2;
    padding-bottom: $gutter/2;
    & > .beta-marker {
      width: $gutter*2;
      height: $gutter*2;
      z-index: 999;
    }
    & > .wrapper {
      position: relative;
      & > button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        border: none;
        font-size: $gutter;
        height: $gutter;
        font-weight: 600;
      }
      ul ul { padding-left: $gutter; }
      div.menu > div {
        text-align: center;
        margin-bottom: $gutter/2;
        ul, ul ul {
          &, li {
            margin: 0;
            padding: 0;
            border: none;
          }
        }
        & > ul {
          & > li {
            margin-top: $gutter/3;
            background-color: lighten($color-coal, 10%);
            padding: $gutter/3 0;
            & > a {
              font-size: 20px;
            }
            & > ul {
              & > li {
                margin-top: $gutter/6;
                & > a {
                  font-size: 14px;
                }
                & > ul {
                  & > li {
                    margin-top: $gutter/6;
                    & > a {
                      font-size: 14px;
                      text-transform: none;
                    }
                  }
                }
              }
            }
          }
        }
      }


    }
  }
}
