/*--------------------------------------------------------------
11.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending > #page > footer { /* Theme Footer (when set to scrolling) */
	display: none;
}
/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending > #page > footer {
	display: block;
}
.infinite-loader {
	clear: both;
	margin: 0 auto;
	width: 36px;
}
#infinite-handle {
	clear: both;
	text-align: center;
  span {
  	margin: 0 auto;
  	text-align: center;
  }
}
#infinite-handle,
.infinite-loader {
	padding: 1.7778em 0;
}
