& > section {
  h1 {
    img {
      width: $spacing-unit * 2;
      height: $spacing-unit * 2;
      margin-bottom: $spacing-unit/3;
      margin-right: $spacing-unit/3;
      display: inline-block;
    }
  }
  &.velho-sniic {
    img {
      height: $spacing-unit*3;
      width: auto;
    }
    p {
      margin-top: $spacing-unit;
    }
    button {
      margin-top: $spacing-unit;
    }
  }
  &.busca {
    background: $color-coal;
    button, input[type="search"] {
      font-size: 24px;
    }
    input[type="search"] {
      border: none;
    }
  }
  &.breve {
    aside.plataformas {
      margin-top: $spacing-unit;
    }
  }

}
