/*--------------------------------------------------------------
2.0 Typography
--------------------------------------------------------------*/

body, button, input, select, textarea {
	color: #404040;
	font-family: "Cabin", Helvetica, sans-serif;
	font-size: 20px;
	font-size: 2rem;
	line-height: 1.7778;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Alegreya", Georgia, serif;
	font-weight: 700;
}
h1 {
	font-size: 40px;
	font-size: 4rem;
	line-height: 1.6;
	margin-bottom: 0.8em;
}
h2 {
	font-size: 36px;
	font-size: 3.6rem;
	line-height: 1;
	margin-bottom: 1em;
}
h3 {
	font-size: 32px;
	font-size: 3.2rem;
	line-height: 1;
	margin-bottom: 1em;
}
h4 {
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 1.3333;
	margin-bottom: 1.3333em;
}
h5, h6 {
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 1.7778;
	margin-bottom: 1.7778em;
	text-transform: uppercase;
}
p {
	margin-bottom: 1.7778em;
  &:last-child {
  	margin-bottom: 0;
  }
}
p b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	font-family: "Alegreya", Georgia, serif;
	font-size: 40px;
	font-size: 4rem;
	font-style: italic;
	font-weight: 800;
	line-height: 1.3em;
	margin-bottom: 0.8em;
	position: relative;
  &:before {
  	display: block;
  	color: #f7f7f7;
  	content: "\201C";
  	font-family: "Alegreya", Georgia, serif;
  	font-size: 250px;
  	font-size: 25rem;
  	position: absolute;
  	top: 45px;
  	left: -50px;
  	z-index: -1;
  }
  cite {
  	display: block;
  	font-family: "Cabin", Helvetica, sans-serif;
  	font-size: 16px;
  	font-size: 1.6rem;
  	font-style: normal;
  	letter-spacing: .03em;
  	line-height: 2.2857;
  	margin-top: 1.14285em;
  	text-transform: uppercase;
  }
}
address {
	margin: 0 0 1.7778em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 2.2857;
	margin-bottom: 2.2857em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 1.5rem;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
big {
	font-size: 125%;
}
