* {
	font-family: "Lato", Helvetica, sans-serif;
	color: black;
}

&, a {

h1, h2, h3, h4, h5, h6 {
	color: $color-coal;
	font-weight: 700;
	span {
		color: $color-gray;
		font-weight: 400;
	}
  img, svg {
    display: inline-block;
		fill: $color-coal;
  }
}
h1 {
	margin-bottom: $gutter/3;

  img, svg {
    width: $gutter * 1.5;
    height: $gutter * 1.5;
    margin-right: $gutter/3;
  }
  svg {
    margin-bottom: -$gutter/4;
  }
}
h2 {
	margin-bottom: $gutter/3;
	line-height: 0.5;
	margin: 0 $gutter/4;

  img, svg {
    width: $gutter;
    height: $gutter;
  }
	img {
		margin-bottom: 3px;
	}
  svg {
    margin-bottom: -$gutter/4;
  }
}
h4 {
	margin-bottom: $gutter/6;

  img, svg {
    width: $gutter;
    height: $gutter;
    margin-right: $gutter/6;
  }
  svg {
    margin-bottom: -$gutter/5;
  }
}
h5 {
  img, svg {
    width: $gutter*0.7;
    height: $gutter*0.7;
    margin-right: $gutter/6;
  }
  svg {
    margin-bottom: -$gutter/6;
  }
}

.dark {
  h1, h2, h3, h4, h5, h6 {
    &.brand-heading {
      color: $color-nil;
      svg {
        fill: $color-nil;
      }
    }
  }
}

}

p {
	margin-bottom: $gutter/2;
  &:last-child {
  	margin-bottom: 0;
  }
}
p b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	font-family: "Alegreya", Georgia, serif;
	margin-bottom: 0.8em;
	position: relative;
	border-color: $color-gray;
  &:before {
  	display: block;
  	color: #f7f7f7;
  	content: "\201C";
  	font-family: "Alegreya", Georgia, serif;
  	font-size: 250px;
  	font-size: 25rem;
  	position: absolute;
  	top: 45px;
  	left: -50px;
  	z-index: -1;
  }
  cite {
  	display: block;
  	font-family: "Lato", Helvetica, sans-serif;
  	font-size: 16px;
  	font-size: 1.6rem;
  	font-style: normal;
  	letter-spacing: .03em;
  	line-height: 2.2857;
  	margin-top: 1.14285em;
  	text-transform: uppercase;
  }
}
address {
	margin: 0 0 1.7778em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 2.2857;
	margin-bottom: 2.2857em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 1.5rem;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
big {
	font-size: 125%;
}
figure {
	margin-bottom: $gutter/2;
	img {
		width: 100% !important;
		padding: 0;
		margin: 0;
	}
	figcaption {
		color: $color-gray;
		font-style: italic;
		margin-top: 5px;
	}
}
