@import "info";
@import "colors";
@import "mixins";

$gutter: 30px; // medianiz

@media screen and (min-width: 768px) {
  .collapse-xs {
    display: block !important;
    height: auto !important;
  }
}

body {
  position: relative;

  @import "typography";

  & > * {
    background-color: $color-nil;
    padding-top: $gutter;
    padding-bottom: $gutter;
  }
  a:hover {
    text-decoration: none;
  }

  @import 'header';
  @import 'navigation';
  @import 'aside';
  @import "section";

  main.publicacoes {
    article.publicacoes {
      & > header {
        padding: 15px;
        h1 {
          font-size: 30px;
        }
        @media screen and (min-width: 768px) {
          .taxonomies {
            float: left;
          }
          .pubdate {
            float: right;
          }
        }
      }
      & > footer {
        padding: 15px;
        section {
          padding: 0;
        }
      }
      section {
        &.actions {
          i {
            font-size: 20px;
            margin-left: 10px;
          }
        }
      }
      background-color: lighten($color-nil, 3%);
    }
    a {
      & > section.title {
        background-color: white;
        box-shadow: 0px 1px 1px $color-gray;
      }
      & > article, & > section {
        padding: $gutter;
        margin-left: -$gutter/2;
        margin-right: -$gutter/2;
        margin-bottom: 0;
        img {
          margin-bottom: $gutter;
        }
        time {
          color: $color-teal;
        }
        footer span.byline {
          display: none;
        }
      }
      &:hover { article {
        background-color: white;
      } }
    }
  }

  @import "hover-list";
}

@import "elements";
@import "forms";
@import "navigation_old";
@import "accessibility";
@import "alignments";
@import "clearings";
@import "content";
@import "comments";
@import "scroll";
@import "media";
@import "responsive";
