@import "info";
@import "colors";
@import "mixins";

$gutter: 30px; // medianiz

body {
  & > * {
    background-color: $color-nil;
    padding-top: $gutter;
    padding-bottom: $gutter;
  }
  a:hover {
    text-decoration: none;
  }

  @import "brand-headings";

  .homeCount{
    font-size: 1.7em;
  }

  @media screen and (min-width: 769px) {
    .collapse-xs {
      display: block !important;
      height: auto !important;
    }
  }

  @import 'navigation';
  @import 'header';
  @import 'aside';

  aside.velho-sniic, section.velho-sniic {
    background-color: $color-velho-sniic-second-shade-blue;
    @include linear-vertical-gradient($color-velho-sniic-dark-blue, $color-velho-sniic-second-shade-blue);
  }
  .velho-sniic {
    p {
      color: $color-velho-sniic-nil;
    }
  }

  .plataformas ul {
    list-style: none;
    margin: 0;
    -webkit-padding-start: 0;
    li {
      padding: $gutter/4;
      padding-top: $gutter/2;
      border-bottom: 4px solid $color-nil;
      a {
        font-size: 20px;
      }
      &:hover {
        border-color: $color-teal;
        background-color: white;
        a {
          color: $color-coal;
        }
      }
    }
  }

  & > footer {
  	background: black;
  	border: none;
    p {
      color: $color-gray;
    }
  }

  @import "section";

  main.publicacoes {
    article.publicacoes {
      & > header {
        padding: 15px;
        h1 {
          font-size: 30px;
        }
        @media screen and (min-width: 768px) {
          .taxonomies {
            float: left;
          }
          .pubdate {
            float: right;
          }
        }
      }
      & > footer {
        padding: 15px;
        section {
          padding: 0;
        }
      }
      section {
        &.actions {
          i {
            font-size: 20px;
            margin-left: 10px;
          }
        }
      }
      background-color: lighten($color-nil, 3%);
    }
    a {
      & > section.title {
        background-color: white;
        box-shadow: 0px 1px 1px $color-gray;
      }
      & > article, & > section {
        padding: $gutter;
        margin-left: -$gutter/2;
        margin-right: -$gutter/2;
        margin-bottom: 0;
        img {
          margin-bottom: $gutter;
        }
        time {
          color: $color-teal;
        }
        footer span.byline {
          display: none;
        }
      }
      &:hover { article {
        background-color: white;
      } }
    }
  }
  & {
    ul:hover { a, li, span, i, h1, h2, h3, h4, h5, h6, small {
        color: $color-gray;
        &:hover { a, li, span, i, h1, h2, h3, h4, h5, h6, small { color: black; } }
    } }
  }
  & > .dark {
    ul:hover { a, li {
        &:hover { a, li, span, i, h1, h2, h3, h4, h5, h6, small { color: $color-nil; } }
    } }
    background: $color-coal;
    *, a:hover { color: $color-nil; }
    &, a { color: $color-nil; }
  }
}

@import "typography";
@import "elements";
@import "forms";
@import "navigation_old";
@import "accessibility";
@import "alignments";
@import "clearings";
@import "content";
@import "comments";
@import "scroll";
@import "media";
@import "responsive";
